# File: .dockerignore
. git
.github
*. md
.gitignore
.env

# Build artifacts
cache-server
*.exe
*.test
*.out

# Không ignore go.sum! 
# go.sum  <-- ĐỪNG IGNORE CÁI NÀY

*_test.go
testdata/

. vscode/
.idea/
*.swp

. DS_Store
tmp/
*. log
data/
cpu.prof
coverage.out
build
*.mmap
*.log
*.prof
*.csv
./data
./.history
venv
./*build
./build*
.venv-benchmark
benchmarks/cross_engine/output
benchmarks/cross_engine/benchmarks
/build_fuzz
/Testing